.researcher__title {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 350px;
}

@media screen and (max-width: 760px) {
    .researcher__title {
        font-size: 27px;
        line-height: 33px;
    }
}

@media screen and (max-width: 535px) {
    .researcher__title {
        max-width: 230px;
    }
}