.header__logo {
    max-width: 142px;
}

@media screen and (max-width: 940px) {
    .header__logo {
        padding-left: 27px;
    }
}

@media screen and (max-width: 760px) {
    .header__logo {
        max-width: 103px;
    }
}