.footer {
    padding: 67px 0 60px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #545454;
}

@media screen and (max-width: 940px) {
    .footer {
        padding-left: 19px;
        font-size: 14px;
        line-height: 17px;
    }
}